.jobDetails {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1.1rem;
        margin-top: 1rem;
    }

    .jobHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.toggleEditModeButton {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

.jobApplicationsSection {
    margin: 3rem 0;
}